.file {
	width: 100%;
}

.togglable:not(.displayed) {
	display: none;
}

.error {
	font-weight: bold;
	color: red;
}

@media (min-width: 400px) {
	.flattened-image-container {
		padding: 0 12px;
	}

	.layers-result {
		padding: 0 12px;
	}

	.layers {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
}

.flattened-image {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.layers {
	border-top: 1px solid #ccc;
}

.layer {
	display: flex;
	height: 48px;
	border-bottom: 1px solid #ccc;
}

.layer__visible {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	border-right: 1px solid #eee;
}

.layer__indents {
	flex: none;
	display: flex;
}

.layer__indent {
	width: 22px;
}

.layer__image {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layer__image--group {
	width: 24px;
}

.layer__image--layer {
	width: 48px;
}

.layer__image img {
	max-width: 46px;
	max-height: 46px;
	width: auto;
	height: auto;
	border: 1px solid #bbb;
}

.layer__main {
	flex: auto;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow: hidden; /* メモ: 子孫要素で text-overflow: ellipsis; するために必要 */
}

.layer__compositing {
	flex: 1;
	display: flex;
}

.layer__blending-mode {
	flex: auto;
	margin-left: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.layer__name {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
