.togglable:not(.displayed),
.result-item.displayed + .converting-item {
	display: none;
}

.error {
	font-weight: bold;
	color: red;
}

.file {
	width: 100%;
}

@media (min-width: 400px) {
	.flattened-image-container {
		padding: 0 12px;
	}
}

.flattened-image {
	width: 100%;
	max-width: 400px;
	height: auto;
}
