body {
	margin: 8px 0;
	color: #282828;
}

img {
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

.language-menu {
	text-align: center;
}

.site-title {
	text-align: center;
}

.site-content {
	margin: 0 auto;
	max-width: 820px;
}

.site-content h1,
.site-content h2,
.site-content h3,
.site-content h4,
.site-content h5,
.site-content h6 {
	margin-left: 12px;
	margin-right: 12px;
}

.site-content h2 {
	border-bottom: 1px solid gainsboro;
}

.site-content h4 {
	margin-bottom: 16px;
}

.site-content p {
	padding: 0 12px;
}

.site-content ul, .site-content ol {
	padding-left: 40px;
}

.site-footer {
	text-align: center;
}
